* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html {
    margin:0;
    background-color: rgb(56, 56, 56);
}

h1{
    margin: 30px;
    text-align: center;  
    color: white;
    -webkit-text-stroke: 1px black; 
}
.main{
    border-radius: 20px;
    background-color: rgb(131, 131, 131);
    width: 50%;
    margin: auto;
    /* text-align: center;
    align-content: center;
    align-items: center; */
}
a{
    text-decoration: none;
    color: black;
    border: solid black 1px ;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 1.5%;
    margin: 10px;
}
.nav_bar{
    margin-top: 30px;
    list-style: none;
    text-align: center;
}
.nav_bar li{
    display: inline;
    margin: 0;
    
}
/* The switch - the box around the slider */
.switch {
    margin-left: 10px;
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
border-radius: 21px;
}

.slider.round:before {
border-radius: 50%;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px; 

}